In [1]:
import os
import numpy as np
import pandas as pd
import re

In [2]:
os.chdir('experiments/record')

In [3]:
R = []
N = []
Corners = []
Reps = []
Version = []

NMSE_mean = []
NMSE_se = []
Time_mean = []
Time_se = []
Time_min = []
Time_1st = []
Time_med = []
Time_3rd = []
Time_max = []

for fname in os.listdir():
    if fname[:4] != 'BPCG':
        continue
    r = re.search('r_(.+?)_n',fname).group(1)
    n = re.search('n_(.+?)_corners',fname).group(1)
    corners = re.search('corners_(.+?)_reps',fname).group(1)
    reps = re.search('reps_(.+?)_indices',fname).group(1)
    indices = re.search('indices_(.+?)_pattern',fname).group(1) == 'True'
    pattern = re.search('pattern_(.+?)_sparse',fname).group(1) == 'True'
    sparse = re.search('sparse_(.+?).npy',fname).group(1) == 'True'

    R.append(r)
    N.append(n)
    Corners.append(corners)
    Reps.append(reps)

    if (not sparse) and (not indices) and (not pattern):
        Version.append(7)
    elif (not sparse) and indices and pattern:
        Version.append(8)
    elif sparse and (not indices) and (not pattern):
        Version.append(9)
    else:
        Version.append(10)
    
    out = np.load(fname)
    NMSE_mean.append(np.mean(out,0)[0])
    NMSE_se.append((np.std(out,0)/np.sqrt(len(out)))[0])
    Time_mean.append(np.mean(out,0)[1])
    Time_se.append((np.std(out,0)/np.sqrt(len(out)))[1])
    Time_min.append(np.min(out,0)[1])
    Time_max.append(np.max(out,0)[1])
    Time_med.append(np.percentile(out,50,0)[1])
    Time_1st.append(np.percentile(out,25,0)[1])
    Time_3rd.append(np.percentile(out,75,0)[1])

BPCG_result = pd.DataFrame({
    'r':R,
    'n':N,
    'corners':Corners,
    'reps':Reps,
    'version': Version,
    'NMSE (mean)': np.round(NMSE_mean,3),
    'NMSE (standard error)': np.round(NMSE_se,3),
    'Time (mean)': np.round(Time_mean,3),
    'Time (standard error)': np.round(Time_se,3),
    'Time (min)': np.round(Time_min,3),
    'Time (1st quantile)': np.round(Time_1st,3),
    'Time (median)': np.round(Time_med,3),
    'Time (3rd quantile)': np.round(Time_3rd,3),
    'Time (max)': np.round(Time_max,3),
})

In [4]:
BPCG_result

,r,n,corners,reps,version,NMSE (mean),NMSE (standard error),Time (mean),Time (standard error),Time (min),Time (1st quantile),Time (median),Time (3rd quantile),Time (max)
0,"(10, 10, 10)",500,10,100,7,0.017,0.001,2.014,0.063,0.819,1.523,2.001,2.534,3.383
1,"(10, 10, 10)",500,10,100,9,0.017,0.001,2.834,0.113,0.829,2.020,2.681,3.693,5.694
2,"(10, 10, 10)",500,10,100,8,0.017,0.001,1.252,0.054,0.443,0.789,1.211,1.743,2.956
3,"(10, 10, 10)",500,10,100,10,0.017,0.001,2.093,0.103,0.480,1.229,1.821,2.873,4.795
4,"(10, 10, 10, 10)",10000,10,100,7,0.010,0.000,14.761,0.194,11.197,13.492,14.555,15.478,22.625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,"(80, 80, 80)",500,10,100,10,0.546,0.004,2.443,0.050,1.858,2.161,2.371,2.596,5.699
77,"(90, 90, 90)",500,10,100,7,0.579,0.004,2.257,0.045,1.541,1.934,2.108,2.511,3.658
78,"(90, 90, 90)",500,10,100,9,0.579,0.004,2.774,0.042,1.854,2.494,2.693,2.955,4.205
79,"(90, 90, 90)",500,10,100,8,0.579,0.004,2.215,0.045,1.474,1.877,2.062,2.421,3.642
80,"(90, 90, 90)",500,10,100,10,0.579,0.004,2.729,0.043,1.886,2.426,2.679,2.966,4.089

In [5]:
BPCG_result.to_csv('../../../BPCG_result.csv', index=False)

In [6]:
R = []
N = []
Corners = []
Reps = []
Version = []

NMSE_mean = []
NMSE_se = []
Time_mean = []
Time_se = []
Time_min = []
Time_1st = []
Time_med = []
Time_3rd = []
Time_max = []

for fname in os.listdir():
    if fname[:4] == 'BPCG':
        continue

    r = re.search('r_(.+?)_n',fname).group(1)
    n = re.search('n_(.+?)_corners',fname).group(1)
    corners = re.search('corners_(.+?)_reps',fname).group(1)

    try:
        reps = re.search('reps_(.+?)_indices',fname).group(1)
        indices = re.search('indices_(.+?)_pattern',fname).group(1) == 'True'
        pattern = re.search('pattern_(.+?)_sparse',fname).group(1) == 'True'
        sparse = re.search('sparse_(.+?)_nag',fname).group(1) == 'True'
        nag = re.search('nag_(.+?).npy',fname).group(1) == 'True'
        if (not sparse) and ( indices) and (pattern) and (not nag):
            Version.append(1)
        elif ( sparse) and (not indices) and (not pattern) and (not nag):
            Version.append(2)
        elif (not sparse) and (not indices) and (not pattern) and ( nag):
            Version.append(3)
        elif ( sparse) and ( indices) and ( pattern) and (not nag):
            Version.append(4)
        elif (not sparse) and ( indices) and ( pattern) and ( nag):
            Version.append(5)
        else:
            Version.append(6)

    except:
        reps = re.search('reps_(.+?).npy',fname).group(1)
        Version.append(0)

    R.append(r)
    N.append(n)
    Corners.append(corners)
    Reps.append(reps)
    
    out = np.load(fname)
    NMSE_mean.append(np.mean(out,0)[0])
    NMSE_se.append((np.std(out,0)/np.sqrt(len(out)))[0])
    Time_mean.append(np.mean(out,0)[1])
    Time_se.append((np.std(out,0)/np.sqrt(len(out)))[1])
    Time_min.append(np.min(out,0)[1])
    Time_max.append(np.max(out,0)[1])
    Time_med.append(np.percentile(out,50,0)[1])
    Time_1st.append(np.percentile(out,25,0)[1])
    Time_3rd.append(np.percentile(out,75,0)[1])

result = pd.DataFrame({
    'r':R,
    'n':N,
    'corners':Corners,
    'reps':Reps,
    'version': Version,
    'NMSE (mean)': np.round(NMSE_mean,3),
    'NMSE (standard error)': np.round(NMSE_se,3),
    'Time (mean)': np.round(Time_mean,3),
    'Time (standard error)': np.round(Time_se,3),
    'Time (min)': np.round(Time_min,3),
    'Time (1st quantile)': np.round(Time_1st,3),
    'Time (median)': np.round(Time_med,3),
    'Time (3rd quantile)': np.round(Time_3rd,3),
    'Time (max)': np.round(Time_max,3),
})

In [7]:
result

,r,n,corners,reps,version,NMSE (mean),NMSE (standard error),Time (mean),Time (standard error),Time (min),Time (1st quantile),Time (median),Time (3rd quantile),Time (max)
0,"(10, 10, 10)",500,10,100,0,0.017,0.001,1.874,0.061,0.756,1.485,1.849,2.182,3.935
1,"(10, 10, 10)",500,10,100,3,0.017,0.001,2.225,0.067,0.885,1.739,2.224,2.616,4.234
2,"(10, 10, 10)",500,10,100,2,0.018,0.001,2.116,0.071,0.757,1.586,2.102,2.567,4.114
3,"(10, 10, 10)",500,10,100,1,0.017,0.001,1.054,0.044,0.352,0.729,1.006,1.311,2.688
4,"(10, 10, 10)",500,10,100,5,0.017,0.001,1.450,0.056,0.398,1.025,1.386,1.797,3.168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,"(90, 90, 90)",500,10,100,2,0.580,0.004,2.296,0.036,1.663,2.087,2.216,2.424,3.516
163,"(90, 90, 90)",500,10,100,1,0.580,0.004,1.991,0.038,1.441,1.765,1.876,2.049,3.380
164,"(90, 90, 90)",500,10,100,5,0.575,0.004,2.404,0.038,1.671,2.115,2.367,2.626,3.488
165,"(90, 90, 90)",500,10,100,4,0.580,0.004,2.269,0.035,1.697,2.034,2.189,2.373,3.367
166,"(90, 90, 90)",500,10,100,6,0.575,0.004,2.987,0.042,2.101,2.751,2.987,3.229,4.231

In [8]:
result.to_csv('../../../result.csv', index=False)

In [9]:
all_result = pd.concat([BPCG_result,result])

In [10]:
all_result = all_result.sort_values(['r','n','corners','reps','version']).reset_index(drop=True)

In [11]:
first_set = all_result[all_result['n'] == '500']

In [12]:
first_set.to_csv('../../../first_set.csv',index=False)

In [15]:
second_set = all_result[all_result['n'] == '10000']
second_set.to_csv('../../../second_set.csv',index=False)

In [18]:
third_set = all_result[all_result['r'] == '(10, 10, 10, 10, 10, 10)']
third_set.to_csv('../../../third_set.csv',index=False)

In [17]:
fourth_set = all_result[all_result['r'] == '(10, 10, 10, 10, 10, 10, 10)']
fourth_set.to_csv('../../../fourth_set.csv',index=False)

In [23]:
all_result['NMSE (mean and SE)'] = all_result['NMSE (mean)'].astype(str) + ' ' + all_result['NMSE (standard error)'].astype(str)
all_result['Time (mean and SE) (s)'] = all_result['Time (mean)'].astype(str) + ' ' + all_result['Time (standard error)'].astype(str)
all_result['Time (min, 1st quantile, median, 3rd quantile, and max) (s)'] = all_result['Time (min)'].astype(str) + ' ' \
+ all_result['Time (1st quantile)'].astype(str) + ' ' \
+ all_result['Time (median)'].astype(str) + ' ' \
+ all_result['Time (3rd quantile)'].astype(str) + ' ' \
+ all_result['Time (max)'].astype(str)

In [25]:
all_result = all_result.iloc[:,[0,1,2,3,4,14,15,16]]

In [32]:
first_set.to_csv('../../../first_set.csv', index=False)

In [31]:
all_result.to_csv('../../../all_result.csv', index=False)